.frame {
  background-color: #68969b;
  margin: 40px 270px 20px 270px;
  padding: 20px;
  border: 1px solid #68969b;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #e3eaea;
}

.firstSection,
.secondSection,
.thirdSection {
  padding: 20px 0;
}
input {
  width: 435px;
}

button {
  background-color: #68969b;
  border: 1px solid #e3eaea;
  color: #e3eaea;
  border-radius: 10px;
  transition: all 200ms ease;
}

button:hover {
  background-color: #3b696d;
}
.units {
  text-align: right;
  margin-bottom: 0px;
}

img {
  width: 85px;
}
#city,
#temp {
  font-size: 45px;
  text-transform: capitalize;
}

#PHW {
  text-align: center;
  text-transform: capitalize;
}

.thirdSection {
  line-height: 50px;
  text-align: center;
}
.codedBy {
  text-align: center;
  margin-top: 0px;
}
